[submodule "recastnavigation"]
	path = recastnavigation
	url = https://github.com/gre-42/recastnavigation.git
	branch = WithRtti
[submodule "zlib"]
	path = zlib
	url = https://github.com/madler/zlib.git
